body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
}

.profile-header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-content {
    padding: 20px;
}

.profile-content h3 {
    margin-top: 0;
}

.profile-content p, .profile-content ul {
    margin: 10px 0;
}

.profile-content ul {
    list-style-type: none;
    padding: 0;
}

.profile-content li {
    background-color: #e4e4e4;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.profile-contact a {
    color: #4CAF50;
    text-decoration: none;
}

.profile-contact a:hover {
    text-decoration: underline;
}

#contactButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactButton:hover {
    background-color: #45a049;
}
